/* África */

#africa-do-sul::before { content: '\01F1FF\01F1E6\00A0'; }
#angola::before { content: '\01F1E6\01F1F4\00A0'; }
#argelia::before { content: '\01F1E9\01F1FF\00A0'; }
#benim::before { content: '\01F1E7\01F1EF\00A0'; }
#botsuana::before { content: '\01F1E7\01F1FC\00A0'; }
#burkina-faso::before { content: '\01F1E7\01F1EB\00A0'; }
#burundi::before { content: '\01F1E7\01F1EE\00A0'; }
#cabo-verde::before { content: '\01F1E8\01F1FB\00A0'; }
#camaroes::before { content: '\01F1E8\01F1F2\00A0'; }
#chade::before { content: '\01F1F9\01F1E9\00A0'; }
#comores::before { content: '\01F1F0\01F1F2\00A0'; }
#congo::before { content: '\01F1E8\01F1EC\00A0'; } /* Rep. do Congo */
#costa-do-marfim::before { content: '\01F1E8\01F1EE\00A0'; }
#djibuti::before { content: '\01F1E9\01F1EF\00A0'; }
#egito::before { content: '\01F1EA\01F1EC\00A0'; }
#eritreia::before { content: '\01F1EA\01F1F7\00A0'; }
#essuatini::before { content: '\01F1F8\01F1FF\00A0'; }
#etiopia::before { content: '\01F1EA\01F1F9\00A0'; }
#gabao::before { content: '\01F1EC\01F1E6\00A0'; }
#gambia::before { content: '\01F1EC\01F1F2\00A0'; }
#gana::before { content: '\01F1EC\01F1ED\00A0'; }
#guine::before { content: '\01F1EC\01F1F3\00A0'; }
#guine-bissau::before { content: '\01F1EC\01F1FC\00A0'; }
#guine-equatorial::before { content: '\01F1EC\01F1F6\00A0'; }
#lesoto::before { content: '\01F1F1\01F1F8\00A0'; }
#liberia::before { content: '\01F1F1\01F1F7\00A0'; }
#libia::before { content: '\01F1F1\01F1FE\00A0'; }
#madagascar::before { content: '\01F1F2\01F1EC\00A0'; }
#malaui::before { content: '\01F1F2\01F1FC\00A0'; }
#mali::before { content: '\01F1F2\01F1F1\00A0'; }
#marrocos::before { content: '\01F1F2\01F1E6\00A0'; }
#mauricia::before { content: '\01F1F2\01F1FA\00A0'; }
#mauritania::before { content: '\01F1F2\01F1F7\00A0'; }
#mocambique::before { content: '\01F1F2\01F1FF\00A0'; }
#namibia::before { content: '\01F1F3\01F1E6\00A0'; }
#niger::before { content: '\01F1F3\01F1EA\00A0'; }
#nigeria::before { content: '\01F1F3\01F1EC\00A0'; }
#quenia::before { content: '\01F1F0\01F1EA\00A0'; }
#rep-centro-africana::before { content: '\01F1E8\01F1EB\00A0'; }
#rep-democratica-do-congo::before { content: '\01F1E8\01F1E9\00A0'; }
#ruanda::before { content: '\01F1F7\01F1FC\00A0'; }
#sao-tome-e-principe::before { content: '\01F1F8\01F1F9\00A0'; }
#senegal::before { content: '\01F1F8\01F1F3\00A0'; }
#serra-leoa::before { content: '\01F1F8\01F1F1\00A0'; }
#seychelles::before { content: '\01F1F8\01F1E8\00A0'; }
#somalia::before { content: '\01F1F8\01F1F4\00A0'; }
#sudao::before { content: '\01F1F8\01F1E9\00A0'; }
#sudao-do-sul::before { content: '\01F1F8\01F1F8\00A0'; }
#tanzania::before { content: '\01F1F9\01F1FF\00A0'; }
#togo::before { content: '\01F1F9\01F1EC\00A0'; }
#tunisia::before { content: '\01F1F9\01F1F3\00A0'; }
#uganda::before { content: '\01F1FA\01F1EC\00A0'; }
#zambia::before { content: '\01F1FF\01F1F2\00A0'; }
#zimbabue::before { content: '\01F1FF\01F1FC\00A0'; }

/* América */

#antigua-e-barbuda::before { content: '\01F1E6\01F1EC\00A0'; }
#argentina::before { content: '\01F1E6\01F1F7\00A0'; }
#bahamas::before { content: '\01F1E7\01F1F8\00A0'; }
#barbados::before { content: '\01F1E7\01F1E7\00A0'; }
#belize::before { content: '\01F1E7\01F1FF\00A0'; }
#bolivia::before { content: '\01F1E7\01F1F4\00A0'; }
#brasil::before { content: '\01F1E7\01F1F7\00A0'; }
#canada::before { content: '\01F1E8\01F1E6\00A0'; }
#chile::before { content: '\01F1E8\01F1F1\00A0'; }
#colombia::before { content: '\01F1E8\01F1F4\00A0'; }
#costa-rica::before { content: '\01F1E8\01F1F7\00A0'; }
#cuba::before { content: '\01F1E8\01F1FA\00A0'; }
#dominica::before { content: '\01F1E9\01F1F2\00A0'; }
#el-salvador::before { content: '\01F1F8\01F1FB\00A0'; }
#equador::before { content: '\01F1EA\01F1E8\00A0'; }
#estados-unidos::before { content: '\01F1FA\01F1F8\00A0'; }
#granada::before { content: '\01F1EC\01F1E9\00A0'; }
#guatemala::before { content: '\01F1EC\01F1F9\00A0'; }
#guiana::before { content: '\01F1EC\01F1FE\00A0'; }
#haiti::before { content: '\01F1ED\01F1F9\00A0'; }
#honduras::before { content: '\01F1ED\01F1F3\00A0'; }
#jamaica::before { content: '\01F1EF\01F1F2\00A0'; }
#mexico::before { content: '\01F1F2\01F1FD\00A0'; }
#nicaragua::before { content: '\01F1F3\01F1EE\00A0'; }
#panama::before { content: '\01F1F5\01F1E6\00A0'; }
#paraguai::before { content: '\01F1F5\01F1FE\00A0'; }
#peru::before { content: '\01F1F5\01F1EA\00A0'; }
#republica-dominicana::before { content: '\01F1E9\01F1F4\00A0'; }
#sao-cristovao-e-nevis::before { content: '\01F1F0\01F1F3\00A0'; }
#santa-lucia::before { content: '\01F1F1\01F1E8\00A0'; }
#sao-vicente-e-granadinas::before { content: '\01F1FB\01F1E8\00A0'; }
#suriname::before { content: '\01F1F8\01F1F7\00A0'; }
#trinidad-e-tobago::before { content: '\01F1F9\01F1F9\00A0'; }
#uruguai::before { content: '\01F1FA\01F1FE\00A0'; }
#venezuela::before { content: '\01F1FB\01F1EA\00A0'; }

/* Ásia */

#afeganistao::before { content: '\01F1E6\01F1EB\00A0'; }
#arabia-saudita::before { content: '\01F1F8\01F1E6\00A0'; }
#armenia::before { content: '\01F1E6\01F1F2\00A0'; }
#azerbaijao::before { content: '\01F1E6\01F1FF\00A0'; }
#bahrein::before { content: '\01F1E7\01F1ED\00A0'; }
#bangladesh::before { content: '\01F1E7\01F1E9\00A0'; }
#brunei::before { content: '\01F1E7\01F1F3\00A0'; }
#butao::before { content: '\01F1E7\01F1F9\00A0'; }
#camboja::before { content: '\01F1F0\01F1ED\00A0'; }
#catar::before { content: '\01F1F6\01F1E6\00A0'; }
#cazaquistao::before { content: '\01F1F0\01F1FF\00A0'; }
#china::before { content: '\01F1E8\01F1F3\00A0'; }
#chipre::before { content: '\01F1E8\01F1FE\00A0'; }
#coreia-do-norte::before { content: '\01F1F0\01F1F5\00A0'; }
#coreia-do-sul::before { content: '\01F1F0\01F1F7\00A0'; }
#emirados-arabes-unidos::before { content: '\01F1E6\01F1EA\00A0'; }
#filipinas::before { content: '\01F1F5\01F1ED\00A0'; }
#georgia::before { content: '\01F1EC\01F1EA\00A0'; }
#iemen::before { content: '\01F1FE\01F1EA\00A0'; }
#india::before { content: '\01F1EE\01F1F3\00A0'; }
#indonesia::before { content: '\01F1EE\01F1E9\00A0'; }
#ira::before { content: '\01F1EE\01F1F7\00A0'; }
#iraque::before { content: '\01F1EE\01F1F6\00A0'; }
#israel::before { content: '\01F1EE\01F1F1\00A0'; }
#japao::before { content: '\01F1EF\01F1F5\00A0'; }
#jordania::before { content: '\01F1EF\01F1F4\00A0'; }
#kuwait::before { content: '\01F1F0\01F1FC\00A0'; }
#laos::before { content: '\01F1F1\01F1E6\00A0'; }
#libano::before { content: '\01F1F1\01F1E7\00A0'; }
#malasia::before { content: '\01F1F2\01F1FE\00A0'; }
#maldivas::before { content: '\01F1F2\01F1FB\00A0'; }
#mianmar::before { content: '\01F1F2\01F1F2\00A0'; }
#mongolia::before { content: '\01F1F2\01F1F3\00A0'; }
#nepal::before { content: '\01F1F3\01F1F5\00A0'; }
#oma::before { content: '\01F1F4\01F1F2\00A0'; }
#paquistao::before { content: '\01F1F5\01F1F0\00A0'; }
#quirguistao::before { content: '\01F1F0\01F1EC\00A0'; }
#singapura::before { content: '\01F1F8\01F1EC\00A0'; }
#siria::before { content: '\01F1F8\01F1FE\00A0'; }
#sri-lanka::before { content: '\01F1F1\01F1F0\00A0'; }
#tadjiquistao::before { content: '\01F1F9\01F1EF\00A0'; }
#tailandia::before { content: '\01F1F9\01F1ED\00A0'; }
#timor-leste::before { content: '\01F1F9\01F1F1\00A0'; }
#turcomenistao::before { content: '\01F1F9\01F1F2\00A0'; }
#turquia::before { content: '\01F1F9\01F1F7\00A0'; }
#uzbequistao::before { content: '\01F1FA\01F1FF\00A0'; }
#vietna::before { content: '\01F1FB\01F1F3\00A0'; }

/* Europa */

#albania::before { content: '\01F1E6\01F1F1\00A0'; }
#alemanha::before { content: '\01F1E9\01F1EA\00A0'; }
#andorra::before { content: '\01F1E6\01F1E9\00A0'; }
#austria::before { content: '\01F1E6\01F1F9\00A0'; }
#belgica::before { content: '\01F1E7\01F1EA\00A0'; }
#bielorrussia::before { content: '\01F1E7\01F1FE\00A0'; }
#bosnia-e-herzegovina::before { content: '\01F1E7\01F1E6\00A0'; }
#bulgaria::before { content: '\01F1E7\01F1EC\00A0'; }
#chipre::before { content: '\01F1E8\01F1FE\00A0'; }
#croacia::before { content: '\01F1ED\01F1F7\00A0'; }
#dinamarca::before { content: '\01F1E9\01F1F0\00A0'; }
#eslovaquia::before { content: '\01F1F8\01F1F0\00A0'; }
#eslovenia::before { content: '\01F1F8\01F1EE\00A0'; }
#espanha::before { content: '\01F1EA\01F1F8\00A0'; }
#estonia::before { content: '\01F1EA\01F1EA\00A0'; }
#finlandia::before { content: '\01F1EB\01F1EE\00A0'; }
#franca::before { content: '\01F1EB\01F1F7\00A0'; }
#grecia::before { content: '\01F1EC\01F1F7\00A0'; }
#hungria::before { content: '\01F1ED\01F1FA\00A0'; }
#irlanda::before { content: '\01F1EE\01F1EA\00A0'; }
#islandia::before { content: '\01F1EE\01F1F8\00A0'; }
#italia::before { content: '\01F1EE\01F1F9\00A0'; }
#kosovo::before { content: '\01F1FD\01F1F0\00A0'; }
#letonia::before { content: '\01F1F1\01F1FB\00A0'; }
#liechtenstein::before { content: '\01F1F1\01F1EE\00A0'; }
#lituania::before { content: '\01F1F1\01F1F9\00A0'; }
#luxemburgo::before { content: '\01F1F1\01F1FA\00A0'; }
#macedonia-do-norte::before { content: '\01F1F2\01F1F0\00A0'; }
#malta::before { content: '\01F1F2\01F1F9\00A0'; }
#moldavia::before { content: '\01F1F2\01F1E9\00A0'; }
#monaco::before { content: '\01F1F2\01F1E8\00A0'; }
#montenegro::before { content: '\01F1F2\01F1EA\00A0'; }
#noruega::before { content: '\01F1F3\01F1F4\00A0'; }
#paises-baixos::before { content: '\01F1F3\01F1F1\00A0'; }
#polonia::before { content: '\01F1F5\01F1F1\00A0'; }
#portugal::before { content: '\01F1F5\01F1F9\00A0'; }
#reino-unido::before { content: '\01F1EC\01F1E7\00A0'; }
#republica-tcheca::before { content: '\01F1E8\01F1FF\00A0'; }
#romenia::before { content: '\01F1F7\01F1F4\00A0'; }
#russia::before { content: '\01F1F7\01F1FA\00A0'; }
#san-marino::before { content: '\01F1F8\01F1F2\00A0'; }
#servia::before { content: '\01F1F7\01F1F8\00A0'; }
#suecia::before { content: '\01F1F8\01F1EA\00A0'; }
#suica::before { content: '\01F1E8\01F1ED\00A0'; }
#ucrania::before { content: '\01F1FA\01F1E6\00A0'; }
#vaticano::before { content: '\01F1FB\01F1E6\00A0'; }

/* Oceania */

#australia::before { content: '\01F1E6\01F1FA\00A0'; }
#fiji::before { content: '\01F1EB\01F1EF\00A0'; }
#ilhas-marshall::before { content: '\01F1F2\01F1ED\00A0'; }
#ilhas-salomao::before { content: '\01F1F8\01F1E7\00A0'; }
#kiribati::before { content: '\01F1F0\01F1EE\00A0'; }
#micronesia::before { content: '\01F1EB\01F1F2\00A0'; }
#nauru::before { content: '\01F1F3\01F1F7\00A0'; }
#nova-zelandia::before { content: '\01F1F3\01F1FF\00A0'; }
#palau::before { content: '\01F1F5\01F1FC\00A0'; }
#papua-nova-guine::before { content: '\01F1F5\01F1EC\00A0'; }
#samoa::before { content: '\01F1FC\01F1F8\00A0'; }
#tonga::before { content: '\01F1F9\01F1F4\00A0'; }
#tuvalu::before { content: '\01F1F9\01F1FB\00A0'; }
#vanuatu::before { content: '\01F1FB\01F1FA\00A0'; }