header {
    padding: 0 25px;
}

header > a {
    justify-content: flex-start;
}

nav ul {
    justify-content: flex-end;
}

.continentes ul {
    columns: 2;
}

#mapa-interativo {
    display: none;
}