@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Miranda+Sans:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid grey; */
}

:root {
    --cor-primaria: #fff;
    --cor-secundaria: #fff;

    --fundo-pagina: #fff;
    --fundo-header: #fff;
    --fundo-footer: #000;

    --texto-cor: black;
    --texto-cor-alt: white;

    --texto-fonte: 'Miranda Sans', 'Inter', 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
    font-size: 1em;
}

h1 {font-size: 1.8rem;}
h2 {font-size: 1.5rem;}

body {
    font-family: var(--texto-fonte);
}

/* Header */

header {
    background-color: var(--fundo-header);
    width: 100%;
    height: 70px;
    padding: 0 15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > a {
    flex: 1 0 content;
    display: flex;
    justify-content: center;
}

header a > img {
    width: 90px;
}

header nav {
    flex: 1 1 auto;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: 15px;
}

header li > a {
    text-decoration: none;
    color: var(--texto-cor);
    padding: 5px;
    
    position: relative;
}

.border-animado::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px; /* Espessura da borda */
    background-color: var(--texto-cor); /* Cor da borda */
    
    /* Animação centralizada */
    transform: scaleX(0); 
    transition: transform 0.2s ease-in-out;
}

.border-animado:hover::after {
    transform: scaleX(1); /* Expande para o tamanho total */
}

/* Boas-vindas */

#mapa-interativo {
    display: none;
}

#boas-vindas {
    --bh-width: 200vh;

    width: 100%;
    height: 100dvh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(174, 199, 230); */

    background-image: url(../mobile-bg.svg);
    background-repeat: repeat-x;
    background-size: var(--bh-width) 100%;

    animation: bgloop 30s linear infinite;
}

@keyframes bgloop {
    from {background-position: 0 0;}
    to {background-position: calc(-1 * var(--bh-width)) 0;}
}

.mensagem {
    width: 90%;
    flex: 1 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
}

.yvy-logo {
    width: 230px;
}

.mensagem h2 {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: right;
    border-right: 2px solid var(--texto-cor);
    padding-right: 8px;
    text-transform: uppercase;
}

.mensagem span {
    background-color: var(--texto-cor);
    color: var(--texto-cor-alt);
}

.botao-iniciar {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-iniciar a {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--texto-cor-alt);
    background-color: var(--texto-cor);
    padding: 15px;
    border-radius: 30px;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
}

.botao-iniciar a:hover {
    transform: scale(1.05);
}

/* Seleção de país */

#selecionar-lugar {
    padding: 10px;
}

#selecionar-lugar h1 {
    margin-bottom: 15px;
}

.continentes {
    display: flex;
    flex-flow: column;
    gap: 15px;
}

.continentes h2 {
    padding-bottom: 10px;
}

.continente {
    margin-bottom: 2em;
}

.continente:last-child {
    margin-bottom: 0;
}

.continente li {
    list-style-position: inside;
    margin-left: 15px;
}

.indisponivel {
    color: rgb(185, 20, 20);
    cursor: not-allowed;
}

.indisponivel::after {
    content: ' (em breve)';
    color: var(--texto-cor);
    opacity: 0.3;
}

div.topo {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.topo > a {
    display: block;
    width: fit-content;
    margin: auto;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    text-decoration: none;
    color: var(--texto-cor-alt);
    background-color: var(--texto-cor);
}

/* Footer */

footer {
    background-color: var(--fundo-footer);
    color: var(--texto-cor-alt);
    padding: 15px;
}

footer > .yvy-logo {
    display: block;
    margin: 0 auto 15px auto;
    width: 90px;
}
