@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid grey;
}

:root {
    --cor-primaria: #fff;
    --cor-secundaria: #fff;

    --fundo-pagina: #fff;
    --fundo-header: #fff;
    --fundo-footer: #fff;

    --texto-cor: black;
    --texto-cor-alt: white;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
    font-size: 1em;
}

h1 {font-size: 1.8rem;}
h2 {font-size: 1.5rem;}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header */

header {
    background-color: var(--fundo-header);
    width: 100%;
    height: 70px;
    padding: 0 15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    flex: 0 0 content;
    font-size: 2rem;
}

header h1 > a {
    text-decoration: none;
    color: var(--texto-cor);
}

header nav {
    flex: 1 1 auto;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: 15px;
}

header li > a {
    text-decoration: none;
    color: var(--texto-cor);
    padding: 5px;
}

/* Boas-vindas */

#boas-vindas {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.mensagem {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.mensagem h1 {
    font-size: 2rem;
    text-align: center;
    border-bottom: 2px solid var(--texto-cor);
    padding: 0 5px;
}

.mensagem h2 {
    width: 90%;
    font-size: 1.5rem;
    text-align: center;
}

.botao-iniciar {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-iniciar a {
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
}

/* Seleção de país */

#selecionar-lugar {
    padding: 10px;
}

#selecionar-lugar h1 {
    margin-bottom: 15px;
}

.continentes {
    display: flex;
    flex-flow: column;
    gap: 15px;
}

.continentes h2 {
    padding-bottom: 10px;
}

.continente {
    margin-bottom: 2em;
}

.continente:last-child {
    margin-bottom: 0;
}

.continente li {
    list-style-position: inside;
    margin-left: 15px;
}

.indisponivel {
    color: rgb(185, 20, 20);
    cursor: not-allowed;
}

.indisponivel::after {
    content: ' (em breve)';
    color: var(--texto-cor);
    opacity: 0.3;
}

div.topo {
    width: 100%;
}

.topo > a {
    display: block;
    margin: auto;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: var(--texto-cor);
}

/* Footer */

footer {
    background-color: var(--fundo-footer);
    color: var(--texto-cor);
    padding: 15px;
}

footer h1 {
    width: fit-content;
    margin: 0 auto 10px auto;
    padding: 0 5px;
    text-align: center;
    border-bottom: 2px solid var(--texto-cor);
}
