@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid grey; */
}

:root {
    --cor-primaria: #fff;
    --cor-secundaria: #fff;

    --fundo-pagina: #fff;
    --fundo-header: #fff;
    --fundo-footer: #fff;

    --texto-cor: black;
    --texto-cor-alt: white;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
    font-size: 1em;
}

h1 {font-size: 1.8rem;}
h2 {font-size: 1.5rem;}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header */

header {
    background-color: var(--fundo-header);
    width: 100%;
    height: 70px;
    padding: 0 15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > a {
    flex: 1 0 content;
    display: flex;
    justify-content: center;
}

header a > img {
    width: 90px;
}

header nav {
    flex: 1 1 auto;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: 15px;
}

header li > a {
    text-decoration: none;
    color: var(--texto-cor);
    padding: 5px;
    
    position: relative;
}

.border-animado::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px; /* Espessura da borda */
    background-color: var(--texto-cor); /* Cor da borda */
    
    /* Animação centralizada */
    transform: scaleX(0); 
    transition: transform 0.2s ease-in-out;
}

.border-animado:hover::after {
    transform: scaleX(1); /* Expande para o tamanho total */
}

/* Boas-vindas */

#svg {
    fill: lightgrey;
}

#boas-vindas {
    --bh-width: 200vh;

    width: 100%;
    height: 100dvh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    background-image: url(../mobile-bg.svg);
    background-repeat: repeat-x;
    background-size: var(--bh-width) 100%;

    animation: bgloop 20s linear infinite;
}

@keyframes bgloop {
    from {background-position: 0 0;}
    to {background-position: calc(-1 * var(--bh-width)) 0;}
}

.mensagem {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.yvy-logo {
    width: 100px;
}

.mensagem h2 {
    width: 90%;
    font-size: 1.5rem;
    text-align: center;
}

.botao-iniciar {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-iniciar a {
    font-size: 1.5rem;
    color: var(--texto-cor);
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
}

/* Seleção de país */

#selecionar-lugar {
    padding: 10px;
}

#selecionar-lugar h1 {
    margin-bottom: 15px;
}

.continentes {
    display: flex;
    flex-flow: column;
    gap: 15px;
}

.continentes h2 {
    padding-bottom: 10px;
}

.continente {
    margin-bottom: 2em;
}

.continente:last-child {
    margin-bottom: 0;
}

.continente li {
    list-style-position: inside;
    margin-left: 15px;
}

.indisponivel {
    color: rgb(185, 20, 20);
    cursor: not-allowed;
}

.indisponivel::after {
    content: ' (em breve)';
    color: var(--texto-cor);
    opacity: 0.3;
}

div.topo {
    width: 100%;
}

.topo > a {
    display: block;
    width: fit-content;
    margin: auto;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: var(--texto-cor);
}

/* Footer */

footer {
    background-color: var(--fundo-footer);
    color: var(--texto-cor);
    padding: 15px;
}

footer img {
    display: block;
    margin: 0 auto 10px auto;
}
