/* Seção Imersiva */

.subsecao {
    width: 100%;
    min-height: 100dvh;
    padding: 15px;
    display: flex;
    flex-flow: column;
    gap: 1em;
}

/* Introdução */

.introducao-im {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--texto-cor-alt);
    box-shadow: inset 0 3px 8px 3px rgba(0, 0, 0, 0.314);
    background-image: url(introducao-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.introducao-im h1 {
    font-size: 2.5rem;
    text-align: center;
}

.introducao-im p {
    text-align: center;
}

/* Passado */