/* Seção Imersiva */

.subsecao {
    width: 100%;
    padding: 1em;
    display: flex;
    flex-flow: column;
    gap: 1em;
    font-size: 1.2rem;
}

.subsecao figure {
    display: flex;
    flex-direction: column;
    gap: .3em;
}

.subsecao figure img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.345);
}

.subsecao figure figcaption {
    text-align: right;
    font-size: 1rem;
}

.subsecao ul {
    list-style-position: inside;
}

/* Introdução */

.introducao-im {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--texto-cor-alt);
    box-shadow: inset 0 3px 8px 3px rgba(0, 0, 0, 0.314);
    background: url(../imagens/introducao-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.introducao-im h1 {
    font-size: 2.5rem;
    text-align: center;
}

.introducao-im p {
    text-align: center;
    max-width: 600px;
}

/* Passado */

.passado-im {
    /* background: url(../imagens/passado-bg.jpg); */
    background-color: #f8e9ac;
    background-size: cover;
    background-position: top right;
}

.passado-im > article {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.passado-im-art {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.passado-im article p {
    text-align: justify;
}

/* Destaques */

.destaques-im {
    display: flex;
    flex-direction: column;
    padding: .5em calc(15px + .5em);
    background-color: #009440;
}

.destaques-im h2 {
    margin: 0 -.5em -.5em -.5em;
    color: #FFCB00;
}

.destaques-im ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.destaques-im li {
    margin: 0 -15px;
}

.destaques-im ul > li:nth-child(1) {
    background: url(../imagens/destaque1.jpg);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.destaques-im ul > li:nth-child(2) {
    background: url(../imagens/destaque2.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.destaques-im ul > li:nth-child(3) {
    background: url(../imagens/destaque3.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover; 
}

.destaques-im ul > li:nth-child(4) {
    background: url(../imagens/destaque4.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.destaques-im li > div {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
}

.destaques-im li > div.destaques-im-sombra {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 50%, transparent);
}

.destaques-im li > div.destaques-im-sombra-rev {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5) 50%, transparent);
    flex-direction: row-reverse;
}

.destaques-im li > div.destaques-im-sombra-rev > p {
    text-align: right;
}

.destaques-im li p {
    color: var(--texto-cor-alt);
    padding: 1em 15px;
    max-width: 450px;
}

/* Seção Fatos */

.fatos-im {
    background: url(../imagens/fatos-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: inset 0 3px 8px 3px rgba(0, 0, 0, 0.314);
    gap: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.fatos-im h2 {
    color: #009440;
    background-color: #FFCB00;
    padding: .5em;
    text-align: center;
}

.clique {
    width: 100%;
    max-width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--texto-cor-alt);
    padding: 8px;
    border: 3px solid var(--texto-cor);
    border-radius: 10px;
}

.clique > img {
    width: 40px
}

.clique > p {
    flex: 0 1 auto;
}

.fatos-im ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    list-style: none;
}

.fatos-im li {
    max-width: 400px;
    background-color: var(--texto-cor-alt);
    border: 3px solid #FFCB00;
    border-radius: 16px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    aspect-ratio: 16 / 9;
    cursor: pointer;
}

.fatos-im li:nth-child(1) {
    background: url(../imagens/fato1.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fatos-im li:nth-child(2) {
    background: url(../imagens/fato2.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fatos-im li:nth-child(3) {
    background: url(../imagens/fato3.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fatos-im li:nth-child(4) {
    background: url(../imagens/fato4.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fatos-im li p {
    width: 100%;
    height: 100%;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.fatos-im p.fato-ativo {
    opacity: 1;
    transition: opacity 0.3s ease;
}