/* Seção Imersiva */

.subsecao {
    width: 100%;
    padding: 1em;
    display: flex;
    flex-flow: column;
    gap: 1em;
    font-size: 1.2rem;
}

.subsecao figure {
    display: flex;
    flex-direction: column;
    gap: .3em;
}

.subsecao figure img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.345);
}

.subsecao figure figcaption {
    text-align: right;
    font-size: 1rem;
}

.subsecao ul {
    list-style-position: inside;
}

/* Introdução */

.introducao-im {
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url(../imagens/introducao-bg.jpg);
    background-size: cover;
    background-position: left center;
    background-attachment: fixed;
    color: var(--texto-cor-alt);
}

.introducao-im h1 {
    text-align: center;
    font-size: 2.5rem;
}

.introducao-im p {
    text-align: center;
    max-width: 600px;
}

/* Passado */

.passado-im {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.passado-im h2 {
    width: 100%;
    max-width: 1360px;
}

.passado-im-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.passado-im h2 {
    color: #A91101;
}

.passado-im p {
    text-align: justify;
}

.passado-im figure {
    max-width: 800px;
}

/* Destaques */

.destaques-im {
    background-color: #A91101;
    color: var(--texto-cor-alt);
}

.destaques-im ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.destaques-im ul li:nth-child(odd) > p {
    text-align: left;
    border-left: 2px solid var(--texto-cor-alt);
    padding-left: .5em;
}

.destaques-im ul li:nth-child(even) > p {
    text-align: right;
    border-right: 2px solid var(--texto-cor-alt);
    padding-right: .5em;
}

/* Fatos */

.fatos-im-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 1em;
    width: 100%;
}

.fatos-im ul {
    list-style: none;
    gap: 1em;
}

.fatos-im li {
    padding: .5em;
    box-shadow: inset 0 0 3px 2px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
}

.fatos-im li > p {
    background-color: rgba(0, 0, 0, 0.4);
    padding: .5em;
    color: var(--texto-cor-alt);
    border-radius: 6px;
}

.fatos-im li:nth-child(1) {
    background: url(../imagens/fato1.jpg);
    background-position: center center;
    background-size: cover;
}

.fatos-im li:nth-child(2) {
    background: url(../imagens/fato2.jpg);
    background-position: center center;
    background-size: cover;
}

.fatos-im li:nth-child(3) {
    background: url(../imagens/fato3.jpg);
    background-position: center center;
    background-size: cover;
}

.fatos-im li:nth-child(4) {
    background: url(../imagens/fato4.jpg);
    background-position: center center;
    background-size: cover;
}