/* Fatos */

.fatos-im ul {
    display: flex;
    flex-direction: column;
}

.fatos-im li {
    display: flex;
    align-items: flex-end;
    height: 100px;
    transition: height .3s ease;
}

.fatos-im li > p {
    opacity: 0;
    max-height: 0;
    transition: opacity .2s ease;
}

.fatos-im li.fato-ativo {
    height: 400px;
}

.fatos-im li.fato-ativo > p {
    opacity: 1;
    max-height: 300px;
    transition-delay: 0.15s;
}