main {
    grid-template: auto auto auto / 1fr 600px;
}

/* Seção Dados */

.secao-dados {
    grid-area: 1 / 1 / span 1 / span 1;
}

.info-gerais {
    grid-template: repeat(4, auto) / auto 1fr 1fr;
}

.moeda {
    grid-area: 3 / 2 / span 1 / -1;
}

.info-extras {
    display: grid !important;
}

.lema {
    grid-area: 5 / 1 / span 1 / -1;
}

.info-extras-btn {
    display: none;
}

/* Seção Território */

.secao-territorio {
    grid-area: 1 / 2 / span 1 / -1;
}

/* Seção Imersão */

.secao-imersao {
    grid-area: 2 / 1 / span 1 / -1;
}

.subsecao {
    padding: 30px;
    font-size: 1.3rem;
}