@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Miranda+Sans:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid grey; */
}

body {
    margin-top: 70px;
    width: 100%;
}

main {
    display: grid;
    grid-template: repeat(3, auto) / 1fr;
    grid-auto-flow: column;
}

#p-id {
    display: none;
}

/* Informações Gerais */

.secao-dados {
    padding: 15px;
    width: 100%;
}

.secao-dados h2 {
    display: none;
    text-transform: uppercase;
    text-align: center;
}

.info-gerais {
    width: 100%;
    display: grid;
    grid-template: repeat(4, auto) / 1fr 1fr;
    grid-auto-flow: row;
    gap: 15px;
}

div.caixa {
    display: flex;
    flex-flow: column wrap;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    padding: 10px;
}

.caixa > h3 {
    font-size: 1.3rem;
    font-weight: 700;
}

.caixa > p {
    font-size: 1.2rem;
}

.info-gerais .bandeira-nome {
    grid-area: 1 / 1 / span 2 / span 1;
    align-items: center;
}

    #p-bandeira {
        width: 100%;
        max-width: 300px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #p-bandeira img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 1px solid lightgrey;
    }

    #p-nome {
        margin-top: 10px;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
    }

.p-titulo {
    font-size: 1.3rem;
    font-weight: 700;
}

.caixa > h3::after {
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.7;
    font-style: italic;
}

.capital > h3::after {
    content: " (Capital)";
}

.localizacao > h3::after {
    content: " (Location)";
}

.idioma > h3::after {
    content: " (Language)";
}

.populacao > h3::after {
    content: " (Population)";
}

.area > h3::after {
    content: " (Area)";
}

.moeda > h3::after {
    content: " (Currency)";
}

.lema {
    grid-area: 5 / 1 / span 1 / span 2;
}

.lema > h3::after {
    content: " (Motto)";
}

/* Informações Extras */

.info-extras {
    margin-top: 15px;
    display: none;
    grid-template: repeat(6, auto) / 1fr 1fr;
    grid-auto-flow: row;
    gap: 15px;
    margin-bottom: -15px;
}

.nome-completo {
    grid-area: 1 / 1 / span 1 / span 2;
}

.nome-completo > h3::after {
    content: " (Full Name)";
}

.idh > h3::after {
    content: " (HDI)";
}

.pib > h3::after {
    content: " (GDP)";
}

.sis-politico {
    grid-area: 3 / 1 / span 1 / span 2;
}

.sis-politico > h3::after {
    content: " (Political System)";
}

.sis-economico > h3::after {
    content: " (Economic System)";
}

.ddi > h3::after {
    content: " (DDI)";
}

.principal-religiao > h3::after {
    content: " (Main Religion)";
}

.sis-economico {
    grid-area: 4 / 1 / span 1 / span 2;
}

.info-extras-btn {
    width: 100%;
    height: 50px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    background: transparent;
    border: 1px solid var(--texto-cor);
    border-radius: 12px;
    cursor: pointer;
}

.info-extras-btn > span {
    font-size: 1.8rem;
}

/* Território */

.secao-territorio {
    width: 100%;
    height: 100%;
    padding: 15px;
    display: grid;
    grid-template: auto auto auto / 1fr;
    grid-auto-flow: column;
    justify-items: center;
}

.secao-territorio h2 {
    text-transform: uppercase;
}

.secao-territorio #territorio {
    width: 100%;
    height: auto;
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

#territorio svg {
    width: 100%;
    height: 100%;
    max-height: 600px;
}

#territorio svg path {
    fill: lightgrey;
    stroke-width: 2px;
    stroke: white;
    cursor: pointer;
}

#territorio svg path:hover {
    fill: grey;
}

#territorio svg .selecionado {
    fill: grey;
}

div.info-regiao {
    font-size: 1.3rem;
    width: 90%;
    max-width: 600px;
    height: 80px;
    padding: 5px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--texto-cor);
    border-radius: 24px;
    text-align: center;
}

