@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Miranda+Sans:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid grey; */
}

body {
    margin-top: 70px;
    width: 100%;
    height: 100dvh;
}

main {
    display: grid;
    grid-template: repeat(3, auto) / 1fr;
    grid-auto-flow: column;
}

/* Informações Gerais */

.secao-dados {
    padding: 15px;
    width: 100%;
}

.secao-dados h2 {
    display: none;
    text-transform: uppercase;
    text-align: center;
}

.info-gerais {
    width: 100%;
    display: grid;
    grid-template: repeat(4, auto) / 1fr 1fr;
    grid-auto-flow: row;
    gap: 15px;
}

div.caixa {
    display: flex;
    flex-flow: column wrap;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    padding: 10px;
}

.caixa > div {
    font-size: 1.2rem;
}

.info-gerais .bandeira-nome {
    grid-area: 1 / 1 / span 2 / span 1;
    align-items: center;
}

    #p-bandeira {
        width: 100%;
        max-width: 300px;
        min-width: 200px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #p-bandeira img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #p-nome {
        margin-top: 10px;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
    }

.p-titulo {
    font-size: 1.3rem;
    font-weight: 700;
}

.lema {
    grid-area: 5 / 1 / span 1 / span 2;
}

/* Informações Extras */

.info-extras {
    margin-top: 15px;
    display: none;
    /* display: grid; */
    grid-template: repeat(6, auto) / 1fr 1fr;
    grid-auto-flow: row;
    gap: 15px;
    margin-bottom: -15px;
}

.nome-completo {
    grid-area: 1 / 1 / span 1 / span 2;
}

.sis-politico {
    grid-area: 3 / 1 / span 1 / span 2;
}

.sis-economico {
    grid-area: 4 / 1 / span 1 / span 2;
}

.info-extras-btn {
    width: 100%;
    height: 50px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    background: transparent;
    border: 1px solid var(--texto-cor);
    border-radius: 12px;
    cursor: pointer;
}

.info-extras-btn > span {
    font-size: 1.8rem;
}

/* Território */

.secao-territorio {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.secao-territorio h2 {
    text-transform: uppercase;
}

.secao-territorio #territorio {
    width: 100%;
    padding: 15px 0;
}

#territorio svg path {
    stroke-width: 3px;
    cursor: pointer;
}

#territorio svg path:hover {
    fill: var(--texto-cor);
}

div.info-regiao {
    font-size: 1.3rem;
    width: 90%;
    max-width: 600px;
    height: 80px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--texto-cor);
    border-radius: 24px;
}

/* Seção Imersiva */

.subsecao {
    width: 100%;
    height: 100dvh;
    padding: 15px;
    display: flex;
    flex-flow: column;
    gap: 1em;
}

/* Introdução */

#introducao-im {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

#introducao-im h1 {
    font-size: 3rem;
}

#introducao-im p {
    text-align: center;
}

/* Passado */